* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 p {
     padding: 40px 10px 10px 25px;
     display: inline-block;
     width: 32%;
 }
 
 #p1 {
     background-color: silver;
 }
 
 #p2 {
     background-color: slategray;
 }
 
 #p3 {
     background-color: lightgrey;
 }
 
 .container {
     position: relative;
     display: inline-block;
     border: 1px solid black;
     width: 32%;
     margin-bottom: 20px;
 }
 
 .top-right {
     position: absolute;
     top: 0;
     right: 0;
     border: 1px solid black;
     width: 120px;
     height: 20px;
     text-align: center;
     background-color: black;
     color: white;
 }
 
 @media screen and (min-width: 768px) and (max-width: 991px) {
     #p1 {
         width: 50%;
     }
 
     #p2 {
         width: 49%;
     }
 
     #p3 {
         width: 100%;
     }
 }
 
 @media screen and (max-width: 767px) {
     #p1 {
         width: 100%;
     }
 
     #p2  {
         width: 100%;
     }
 
     #p3 {
         width: 100%;
     }
 }